.title-section {
    .container {
        padding: 94px 0 145px;
        background-repeat: no-repeat;
        h1 {
            font-weight: 700;
            font-size: 238px;
            line-height: 74.5%;
            color: #ffffff;
            margin-left: -1.7%;
            letter-spacing: 8px;
            span {
                margin-left: 3.6%;
                margin-top: 0.5%;
                display: block;
            }
        }
    }
}

@media (max-width: 1600px){
    .title-section {
        .container {
            max-width: 1400px;
            h1 {
                font-size: 170px;
                span{
                    margin-left: 0;
                    margin-top: 1%;
                }
            }
        }
    }
}

@media (max-width: 1200px){
    .title-section {
        .container {
            max-width: 1400px;
            h1 {
                font-size: 110px;
                margin: 0;
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px){
    .title-section {
        .container {
            h1 {
                margin-top: 3%;
                line-height: 100%;
                font-size: 60px;
            }
        }
    }
}

@media (max-width: 480px){
    .title-section {
        .container {
            padding: 100px 0 100px;
            h1 {
                margin-top: 3%;
                font-size: 30px;
            }
        }
    }
}
